<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
    <footer th:fragment="footer">
        <div id="Footer" style="background-color: darkseagreen">
            <div id="PoweredBy" style="background-color: darkseagreen">&nbsp<a href="www.csu.edu.cn">www.csu.edu.cn</a></div>
        </div>
        <div id="Banner" style="background-color: darkseagreen">

        </div>
    </footer>
</body>
</html>
