<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>
<body>
<div th:replace="common/top">
</div>
<div id="content">
    <div id="BackLink">
        <a href="/catalog/view">Return to Main Menu</a>
    </div>

    <form action="/user/signin" method="post">
        <div id="Sign">
            <table align="center">
                <tr>

                    <td>Username:</td>
                    <td><input type="text" name="username" required="required"></td>

                </tr>
                <br>
                <tr>
                    <td>Password:</td>
                    <td><input type="text" name="password" required="required"></td>
                </tr>
                <tr>
                    <td> Verification Code:</td>
                    <td><input type="text" name="inputCode" required></td>
                </tr>
                <tr>
                    <td><img id="myImage" name="myImage" src="/auth/code"></td>
                    <td><a href="javascript:void(0)" onclick="myReload()">uncleary!change the image</a></td>
                </tr>
                <tr>
                    <td>
                        <font color="red" th:text="${msg}"></font>
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" value="Signin"></td>
                </tr>

            </table>
        </div>
    </form>

    <p align="center">
        Need a username and password?<a href="/user/viewRegister">Resgister Now!</a>
    </p>
</div>
<div th:replace="common/bottom">
</div>
</body>
</html>
