<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csu.mypetstorebyssm.persistence.LogMapper">
    <delete id="deleteByUserNameAndLoginTime" parameterType="Log">
        DELETE
        FROM LOG
        WHERE USERNAME=#{username} AND LOGINTIME=#{loginTime}
    </delete>
    <insert id="insertLogByUserNameAndLoginTimeAndUrl" parameterType="Log">
        INSERT INTO LOG(USERNAME, LOGINTIME, URL)
        VALUES(#{username}, #{loginTime}, #{strURL})
    </insert>
</mapper>
